@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Sarabun:wght@100&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* Horizontally center content */
  align-items: center;
  /* Vertically center content */
  min-height: 100vh;
  /* Make sure the container covers the full viewport height */
  min-width: 100vw;
}

.background-frame1 {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -2;
}

.logo {
  z-index: 10;
}

.logo .logo-image {
  width: 10%;
  height: auto;
  position: absolute;
  top: 80px;
  left: 100px;
}

.resume {
  position: absolute;
  width: 15%;
  height: 5%;
  z-index: 10;
}

.resume .download {
  position: absolute;
  height: auto;
  width: 15%;
  text-align: right;
  float: right;
  top: -800%;
  right: -253%;
  margin-top: 8.5px;
  margin-left: 15px;
  filter: invert(1);
  vertical-align: middle;
}

.resume h2 {
  position: absolute;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-align: right;
  float: right;
  vertical-align: middle;
  top: -780%;
  right: -235%;
  line-height: 0.9em;
}

.resume h2 span {
  font-size: 14px;
  color: #81FFD9;
}

/*
.column {
  float: left;
  padding: 10px;
  width: 25%;
}

.row {
  width: 80%;
  height: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
*/

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #818181;
  width: 43%;
  margin-top: -180px;
  margin-left: 10px;
  border-radius: 15px 15px 0px 0px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 73.484px;
  transition: 0.3s;
  font-family: 'Work Sans', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  z-index: 5;
}

.tab .btn1 {
  border-radius: 15px 0px 0px 0px;
}

.tab .btn3 {
  border-radius: 0px 15px 0px 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #c3c3c3;
}

/* Style the tab content */
.tabcontent {
  position: absolute;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 41.8%;
  top: 410px;
  height: 45%;
  margin-left: 10px;
  z-index: 4;
  border-radius: 0px 0px 15px 15px;
}

.tabcontent .interest-list {
  float: left;
  width: 50%;
}

.attraction-seeker {
  color: #81FFD9;
}

.tabcontent .attraction-seeker {
  opacity: 1;
  margin: 0px;
}

.tabcontent h3 {
  margin: 20px;
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
  word-spacing: 7px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.2em;
}

.tabcontent h3 span {
  margin: 30px;
  opacity: 0.5;
}

.tabcontent h4 {
  margin: 30px;
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
  word-spacing: 7px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.2em;
  opacity: 0.5;
}

.background-frame2 {
  position: absolute;
  background-color: black;
  width: 94%;
  height: 90%;
  opacity: 0.25;
  z-index: -1;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.mountains {
  background-image: url("../images/mountains.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -3;
  filter: invert(1);
}

.detail {
  position: absolute;
  width: 100%;
  height: 20%;
  text-align: center;
  margin-inline: auto;
  margin-block: 15rem;
  line-height: 1;
  top: -140px;
  z-index: 2;
}

.detail .dynamic-texts {
  height: 105px;
  overflow: hidden;
  margin-bottom: -15px;
  margin-left: -545px;
  text-align: center;
}

.dynamic-texts li {
  list-style: none;
  font-size: 3.5rem;
  font-weight: 700;
  position: relative;
  line-height: 2.15;
  top: 0;
  animation: slide 10s steps(2) infinite;
}

/* Enable this code for effect
@keyframes slide {
  100% {
      top: -240px;
  }
}
*/

.dynamic-texts li h2 {
  position: relative;
  font-family: 'Work Sans', sans-serif;
  font-size: 54px;
  color: rgb(143, 143, 143);
  text-align: center;
  margin-left: 5px;
  margin-top: 5px;
}

/* Enable this code for effect
.dynamic-texts li h2::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  padding-left: 50px;
  animation: typing 1.5s steps(11) infinite;
}
*/

.detail h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 120px;
  color: rgb(255, 255, 255);
  margin-top: 0;
}

.heading-2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 28.5px;
  color: rgb(204, 204, 204);
  text-align: center;
  margin-left: 10px;
  margin-top: 30px;
}

.detail h3 {
  margin-top: 5px;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.843em;
  color: rgb(194, 192, 192);
  opacity: 0.5;
  margin-top: 15px;
  margin-right: 535px;
  text-align: right;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(180deg);
  z-index: -2;
}

.clouds img {
  opacity: 0.15;
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(50s * var(--i)) linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(100%);
  }

  100% {
    transform: translate(-100%);
  }
}

/*link buttons*/

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.links {
  position: absolute;
  align-items: center;
  filter: invert(1);
  margin-right: 17%;
  margin-top: 30%;
  z-index: 10;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  position: absolute;
}

.wrapper .a {
  filter: invert(1);
}

.wrapper .icon {
  position: relative;
  border: 20px solid transparent;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  width: 0px;
  height: 0px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  color: #313131;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -55px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

/*About me button*/

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .logo {
    z-index: 10;
  }
  
  .logo .logo-image {
    width: 20%;
    height: auto;
    position: absolute;
    top: 3%;
    left: 8%;
  }

  .resume {
    position: absolute;
    width: 15%;
    height: 5%;
    z-index: 10;
  }
  
  .resume .download {
    position: absolute;
    height: auto;
    width: 40%;
    text-align: right;
    float: right;
    top: -915%;
    right: -245%;
    margin-top: 8.5px;
    margin-left: 15px;
    filter: invert(1);
    vertical-align: middle;
  }
  
  .resume h2 {
    position: absolute;
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    color: #ffffff;
    text-align: right;
    float: right;
    vertical-align: middle;
    top: -890%;
    right: -195%;
    line-height: 0.9em;
  }
  
  .resume h2 span {
    font-size: 7px;
    color: #81FFD9;
  }

  .clouds img {
    opacity: 0.15;
    position: absolute;
    bottom: 0;
    max-width: 400%;
    animation: animate calc(50s * var(--i)) linear infinite;
  }

  .background-frame2 {
    position: absolute;
    background-color: black;
    width: 94%;
    height: 98%;
    opacity: 0.25;
    z-index: -1;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  .detail {
    position: absolute;
    width: 80%;
    height: 20%;
    text-align: center;
    margin-inline: auto;
    margin-block: 15rem;
    line-height: 1;
    top: -18%;
    z-index: 2;
  }

  .detail h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
  }

  .heading-2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    color: rgb(204, 204, 204);
    text-align: center;
    margin-top: 10px;
  }

  .detail h3 {
    margin-top: 5px;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    color: rgb(194, 192, 192);
    opacity: 0.5;
    margin-top: 5px;
    margin-right: -10px;
    text-align: center;
  }

  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #818181;
    width: 69.94%;
    margin-top: -52%;
    margin-left: 10px;
    border-radius: 7px 7px 0px 0px;
    z-index: 15;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px 3.75%;
    transition: 0.3s;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    font-size: 10.99px;
    z-index: 15;
  }
  
  .tab .btn1 {
    border-radius: 7px 0px 0px 0px;
  }
  
  .tab .btn3 {
    border-radius: 0px 7px 0px 0px;
  }

  /* Style the tab content */
  .tabcontent {
    position: absolute;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 63.4%;
    top: 39%;
    height: 54%;
    z-index: 4;
    border-radius: 0px 0px 7px 7px;
  }
  
  .tabcontent .interest-list {
    float: left;
    width: 50%;
  }
  
  .tabcontent h3 {
    margin: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    color: rgb(255, 255, 255);
    word-spacing: 3px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.2em;
  }
  
  .tabcontent h3 span {
    margin: 10px;
    opacity: 0.5;
  }
  
  .tabcontent h4 {
    margin: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    color: rgb(255, 255, 255);
    word-spacing: 3px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.2em;
    opacity: 0.5;
  }

  .attraction-seeker {
    color: #81FFD9;
  }
  
  .tabcontent .attraction-seeker {
    opacity: 1;
    margin: 0px;
  }  

  .wrapper .icon {
    position: relative;
    border: 20px solid transparent;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    width: 0px;
    height: 0px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    top: 420%;
    left: -130%;
    color: #313131;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

}